<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDPOoTLwRS1w57p4YtkWsmHa5RIIZB3slQ</string>
	<key>GCM_SENDER_ID</key>
	<string>261889149004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notesAppFirebase</string>
	<key>PROJECT_ID</key>
	<string>my-first-project-66ff6</string>
	<key>STORAGE_BUCKET</key>
	<string>my-first-project-66ff6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261889149004:ios:322b3b166345d444798ce9</string>
</dict>
</plist>